body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #webcam, #output_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-width: 100vw;
    transform: scaleX(-1); /* Зеркальное отображение */
  }
  
  
  .video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 0 10px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 3px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 5%;
  }
  
  input:checked + .slider {
    background-color: #219c58;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .controls {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%); 
    display: flex;
    justify-content: center;
    z-index: 10;
  }
  
  .label {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    color: black;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  }
  
  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  #gesture_output {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: red;
    padding: 10px;
    border-radius: 5px;
    margin: 0;
    font-size: 16px;
    z-index: 10;
  }